/* =========================
BASE ELEMENT STYLE
============================*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    text-align: center;

    color: #222222;

    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

h3 {
    padding-top: 20px;
}

button {
    background-color: #7CC576;
    border: none;
    text-transform: uppercase;

    border-radius: 33px;
    padding: 22px 36px;
    font-weight: 600;
}

button:hover {
    transform: scale(1.05);
    color: #7CC576;
    background-color: #fff;
}


/* ==============================
BASE LAYOUT STYLES
=============================== */

/*--------- HEADER --------*/
.main-header {
    color: #555555;
    background-color: #fff;

    width: 100vw;
    height: 110px;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 1px 1px 5px 1px #000;
}


.header_flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.header-logo p,
.header-logo span {
    display: inline-block;
}

.header-logo span {
    color: #fff;
    background-color: #7CC576;
    padding: 6px;
    border-radius: 50%;
}

.header-logo p {
    font-weight: 600;
    font-size: 18px;
}

/*---- NAV BAR ----*/

.triangle-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 24px solid #7CC576;
}

.dropdown {
    padding-right: 10px;
    cursor: pointer;
}

.dropdown p {
    margin-bottom: 0;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-y: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/*-------- SECTION HOME --------*/

.home {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/home.png) no-repeat center;
    background-size: cover;
    color: #fff;

    margin-top: 110px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.home p {
    font-size: 20px;
    padding-bottom: 20px;
}

/*-------- SECTION ABOUT (1/2) --------*/

.about {
    padding-top: 40px;
    padding-bottom: 60px;
}

.about span {
    font-size: 47px;
}

.about span:hover {
    transform: scale(1.2);
    color: #7CC576;
}

.services-description {
    font-size: 18px;
    margin-top: 0px;
}

.services-item {
    padding-top: 30px;
}

.services-item p {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -15px;
}

/*----- SECTION ABOUT (2/2)  RELAX----*/

.about-relax {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/relax.png) no-repeat center;
    background-size: cover;

    color: #fff;
    text-align: left;

    padding-top: 40px;
    padding-bottom: 60px;
}

.about-relax-description {
    padding-top: 20px;
}

.about-relax ul {
    list-style-position: inside;
    list-style-image: url(../img/list-icon.svg);

    margin-top: 20px;
    margin-bottom: 40px;
}

.about-relax li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.about-relax-icon-description {
    padding: 10px 0 10px 10px;

    margin: 0;
}

.about-relax-sign {
    color: #7CC576;
}

.about-relax__img {
    display: none;
}

/*------ SECTION PORTFOLIO -------*/

.portfolio {
    padding-top: 40px;
}

.portfolio-content {
    text-align: left;
    width: 100%;
    margin-top: 65px;
}

.portfolio-description {
    font-size: 20px;
    margin-top: 0px;
}

.portfolio-content-description {
    margin-top: -10px;
}

.portfolio-content-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    float: left;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.portfolio-item-headline {
    margin: 0;
    padding-top: 0;
    padding-left: 10px;
}

.portfolio-item-paragraph {
    margin: 0;
    padding-left: 10px;
}

.portfolio a {
    color: #7CC576;
    font-weight: 600;
}

.portfolio span {
    padding-left: 5px;
}

.portfolio-icon {
    border: 2px solid #000;
    border-radius: 50%;

    width: 60px;
    height: 60px;

    margin: 0 auto;
    position: relative;
}

.portfolio-icon-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.portfolio-div-img {
    max-width: 100vh;
    max-height: 150px;
    overflow: hidden;
}

.portfolio-big-img {
    max-width: 100vh;
}

/*-- SECTION BLOG (1/2) CULTURE & VALUES ---*/

.blog {
    background-color: #f9f9f9;

    padding-top: 60px;
    padding-bottom: 60px;
}

.blog-description {
    font-size: 20px;
    margin-top: 0px;
}

.blog-item {
    padding-top: 30px;
}

.blog-item p {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -15px;
}


.blog-div-img {
    border: 2px solid #777777;
    border-radius: 50%;

    width: 84px;
    height: 84px;

    margin: 0 auto;
    position: relative;
}

.blog-div-img:hover {
    transform: scale(1.1);
    border: 3px solid #7CC576;
}

.blog img {
    height: 47px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*--- SECTION BLOG (2/2) CLIENTS ---*/

.blog-clients {
    padding-top: 40px;
    padding-bottom: 60px;
}

.blog-clients__description {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 60px;
}

.blog-clients__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 40px 0;
}


.blog-clients__avatar {
    background-color: #f9f9f9;
    border-radius: 50%;

    min-width: 120px;
    min-height: 120px;


    margin: 10px;
}

.blog-clients__content {
    background-color: #f9f9f9;
}

.blog-clients__author {
    color: #7CC576;
}

/*------- SECTION CONTACT -------*/

.contact {
    color: white;
}

.contact__next-project {
    background-color: #7CC576;
    padding: 30px 0;
}

.contact__button {
    border: 2px solid #fff;
    border-radius: 5px;

    margin: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact__img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact__img {
    margin: 30px 20px;
}

.contact__container {
    background-color: #222222;
    text-align: left;
}

.contact__content {
    padding: 20px 0;
}

.contact__icon {
    font-size: 30px;
}

.contact__icon-container {
    text-align: center;
    width: 10%;
    margin-right: 10px;
}

.contact__item {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #CCCCCC;
}

.contact__post {
    margin-left: 15px;
}

.contact__twitter {
    align-self: flex-start;
    padding-top: 18.4px;
    padding-right: 15px;
}

.contact__hashtag {
    margin-top: -10px;
    margin-bottom: -10px;
}

.contact__time {
    font-size: 14px;
}

.contact__flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact a:hover {
    color: #7CC576;
}

/*----------- FOOTER ----------*/

.main-footer {
    padding: 20px 0;
}

.footer__icon {
    margin: 0 10px;
}

/*------- CONTAINERS ----------*/

.wrapper,
.wrapper-relax {
    width: 90%;
    margin: 0 auto;
}

.services-wrapper {
    width: 75%;
    margin: 0 auto;
}

/*------ TEXT TRANSFORM -----*/

.text-dark-grey {
    color: #777777;
}

.text-light-grey {
    color: #CCCCCC;
}


/* ==========================
=======  MEDIA QUERIES  =====
============================*/

@media (min-width: 500px) {
    .services-wrapper {
        width: 60%;
    }

    /*------ SECTION BLOG (1/2) CULTURE & VALUES --------*/

    .blog-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 700px) {

    /*------ BASE ELEMENT STYLES -----*/

    h1 {
        font-size: 3.75em;
    }

    h2 {
        font-size: 2.5em;
    }

    /*------------ SECTIONS -----------*/

    .about,
    .about-relax,
    .portfolio,
    .blog,
    .blog-clients {
        padding-top: 55px;
        padding-bottom: 75px;
    }

    /*--------- HOME SECTION --------*/

    .home {
        padding-top: 65px;
        padding-bottom: 85px;
    }

    /*--------- ABOUT SECTION --------*/


    .services-description {
        font-size: 20px;
    }

    .services-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    .services-wrapper div:not(:last-child) {
        margin-right: 20px;
    }

    /*--------- PORTFOLIO SECTION --------*/

    .portfolio-content {
        width: 80%;
    }

    /*------ SECTION BLOG (1/2) CULTURE & VALUES --------*/

    .blog-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;

        margin-top: 30px;
    }

    .blog-wrapper .blog-item:not(:last-child) {
        margin-right: 20px;
    }

    /*------ SECTION BLOG (2/2) CLIENTS --------*/

    .blog-clients__avatar {
        min-width: 220px;
        min-height: 220px;

        margin: 20px;
    }

    .blog-clients__content {
        padding: 20px 10px;
    }

    /*------- SECTION CONTACT -------*/

    .contact__next-project {
        padding: 45px 0;
    }

    .contact__img-container {
        padding: 20px 0;
    }


    /*------- CONTAINERS ----------*/

    .wrapper,
    .wrapper-relax {
        width: 80%;
    }
}

@media (min-width: 1000px) {

    /*------------ SECTIONS -----------*/

    .about,
    .portfolio,
    .blog,
    .blog-clients {
        padding-top: 65px;
        padding-bottom: 85px;
    }

    /*--------- HOME SECTION --------*/

    .home {
        padding: 90px 30px 110px 30px;
    }

    /*--------- ABOUT (1/2) SECTION --------*/

    .services-wrapper div:not(:last-child) {
        margin-right: 25px;
    }

    .services-item {
        max-width: 280px;
    }

    /*--------- ABOUT-RELAX (2/2) SECTION --------*/

    .about-relax_img-container {
        width: 30%;
        height: 606.4px;
        background-color: #E9E9E9;
        position: relative;
        float: left;
    }

    .about-relax__img {
        display: inline-block;
        position: absolute;

        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        margin: auto;
        transform: translateX(-11%);
    }

    .about-relax_content-container {
        width: 70%;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/relax.png) no-repeat center;
        background-size: cover;
        float: right;
        padding-top: 65px;
        padding-bottom: 85px;
        padding-left: 60px;
        position: relative;
    }

    .about-relax {
        background: none;
        background-color: #E9E9E9;
        padding: 0;
        margin: 0;
    }

    .about-relax::after {
        content: "";
        clear: both;
        display: table;
    }

    .wrapper-relax {
        width: 100%;
    }

    /*--------- PORTFOLIO SECTION --------*/

    .portfolio-content {
        width: 70%;
    }

    /*------ SECTION BLOG (1/2) CULTURE & VALUES --------*/

    .blog-wrapper {
        margin-top: 50px;
    }

    /*-------- SECTION BLOG (2/2) CLIENTS ---------*/

    .blog-clients__content {
        padding: 30px 25px;
    }

    .contact__content {
        flex: 1;
    }

    .contact__flex-container .contact__content:not(:last-child) {
        margin-right: 25px;
    }


    /*------- CONTAINERS ----------*/

    .wrapper {
        width: 70%;
    }
}


@media (min-width: 1150px) {

    .about-relax__img {
        transform: translateX(-7%);
    }

    /*--------- PORTFOLIO SECTION --------*/

    .portfolio-content {
        width: 68%;
    }


}

@media (min-width: 1300px) {


    /*--------- HOME SECTION --------*/

    .home {
        padding: 90px 110px 110px 110px;
    }

    /*--------- ABOUT RELAX SECTION --------*/

    .about-relax__img {
        transform: translateX(0%);
    }

    /*--------- PORTFOLIO SECTION --------*/

    .portfolio-content {
        width: 60%;
    }

}










/* ///////// media  */

/* .blog-clients__comment {
    font-size: 22px;





.blog-clients__author {
    color: #7CC576;
    font-size: 18px;
} */


/* .main-nav li:not(:first-child) {
    margin-left: 10px;
} */




/* .nav-li {
    display: block;
    padding: 15px;
    background-color: rgba(119, 119, 119, .9);
}

.nav-li:hover {
    border-bottom: 2px solid #7CC576;
    background-color: #7CC576;
    color: #fff;
    transform: scale(1.1);
}

.nav-ul {
    position: fixed;
    top: 110px;
    right: 0;
    color: #7CC576;
} */

/* .main-nav a {
    font-weight: 600;
} */